.skills {
    position: relative;
    font-size: 40px;
    height: 300px;
    color: white;
    background-image: linear-gradient(45deg, #0608BB 0%, #F2294E 100%);
    overflow: hidden;
    text-align: center;
    padding-top: 1rem;

    &__header {
        font-weight: 600;
    }

    &__text {
        position: absolute;
        white-space: nowrap;
        mix-blend-mode: difference;

        &--left {
            left: 0;
            top: 6rem;
            animation: moveLeft 30s linear infinite;

            @keyframes moveLeft {
                0% {
                    transform: translate3d(0, 0, 0);
                }
                100% {
                    transform: translate3d(-50%, 0, 0);
                }
            }
        }

        &--right {
            right: 0;
            top: 11rem;
            animation: moveRight 30s linear infinite;

            @keyframes moveRight {
                0% {
                    transform: translate3d(0, 0, 0);
                }
                100% {
                    transform: translate3d(50%, 0, 0);
                }
            }
        }
    }
}